{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="heading-v1">

            <title>Cannabinoid medical database</title>
        <div>
            <blockquote class="blockquote text-center">
            <h3 style="color:#191970">Cannabinoid medical database</h3>
            </blockquote>
        </div>
        <body>
        <hr align="center" width="400" color=#191970 />
        </body>

        <div class="col-lg-12 col-md-12 col-sm-2 col-xs-12">
            <div class="outline">

            </div>
            <blockquote class="blockquote text-center">
            <h5 style="color:#191970;">This database is designed for researchers working in a field of medical cannabis.
                Cannabinoid medical database aggregates information from Pubmed articles and Clinical trials and makes
                it possible to analyze data about cannabinoid efficacy for various diseases.</h5>
            </blockquote>

        <body>
        <hr align="center" width="1100" color=#191970 />
        </body>
            <form class="form-horizontal">
            <form action="" method="post">

               {%csrf_token%}
                {{form.as_p}}
                <input type="submit"class="btn btn-light btn-lg btn-block" value="Search">
            </form>
            </form>
        </div>
    </div>
</div>

       <body>
            <hr align="center" width="1100" color=#191970 />
       </body>

<div class="row">
    <div class="col-md-6">


    </div>
</div>
<div class="row">
    <table class="table">
        {% for post in posts%}
        <tr>
            {% for art in post.fk_article_research.all%}
            <td>{{art.fk_drug}}</td>
            <td>{{art.dosage}}</td>
            <td>{{art.fk_side_effect.name}}</td>

            <td>{% for author in post.fk_author.all %}{{author.name}}{%endfor%}</td>

            <td><a href="{% url 'post_single' pk=post.id %}">{{post.name}}</a> </td>
            {%endfor%}
        </tr>
        {% endfor %}
    </table>


    {#<a href="{% url 'post_single' pk=post.fk_article %}">{{post.fk_article}}</a>#}

</div>

{% endblock content %}
